# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\cresp\Desktop\Arie\Mahon_Lev\ANNEE_5\SEMESTRE_5.2\OOP+Design_Software\Exo_Code\Assignment 9\ProvidedCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
